extends /layout

block content
    main(ng-app='ponyfoo')
        div
            span P!

        section(ng-controller='lv-controller')
            lv-article(ng-repeat='article in articles', data='article')
