extends /layout

block content
    main(ng-app='brut')
        div
            span B!

        section(ng-controller='lv-controller')
            lv-article(ng-repeat='article in articles', data='article')
