extends /layout

block content
    main(ng-app='brut')
        div
            span B!

        section(ng-controller='lv-controller')
            span {{a}}
            lv-article(ng-repeat='article in articles', ng-model='article')
