.lv-container
    display inline-block
    padding 8px
    border 1px solid rgba(#000, 0.2)
    background-color c_clouds
    box-shadow 1px 1px 6px rgba(#000, 0.2)

.lv-article
    display inline-block
    width 400px

.lv-header
    font-size 0.8em

.lv-figure
    background-color rgba(#fff)

.lv-image
    display block
    margin 0 auto

.lv-caption
    padding 4px
    box-shadow 1px 1px 6px rgba(#000, 0.2)
    font-size 1.4em

.lv-share
    margin-right 12px
    display inline-block
    cursor pointer

.lv-actions
    display inline-block
    vertical-align top
