.lv-article
    padding 8px
    border 1px solid rgba(#000, 0.2)
    background-color c_clouds
    box-shadow 1px 1px 6px rgba(#000, 0.2)
    width 400px

.lv-header
    font-size 0.8em

.lv-figure
    padding-top 6px
    background-color rgba(#fff, 0.5)

.lv-image
    display block
    margin 0 auto

.lv-caption
    padding 4px
    background-color rgba(#fff)
    box-shadow 1px 1px 6px rgba(#000, 0.2)
    font-size 1.4em
