article.lv-article
    header.lv-header
        p {{data.heading}}

    figure.lv-figure
        img.lv-image(ng-src='{{data.figure}}', alt='')
        figcaption.lv-caption {{data.caption}}

    div.lv-actions
        span.ic-upvote(ng-click='vote(true)')
        span {{data.tally.votes}}
        span.ic-downvote(ng-click='vote(false)')
        span.ic-comment(ng-click='comment()')
        span {{data.tally.comments}}

    div.lv-share
        button.uv-icon.sh-facebook(ng-click='share("facebook")')
        button.uv-icon.sh-twitter(ng-click='share("twitter")')
        button.uv-icon.sh-google-plus(ng-click='share("google-plus")')
        button.uv-icon.sh-email(ng-click='share("email")')
